*{
    padding: 0px;
    margin: 0px;
}

nav{
    display: flex;
    margin: 20px;
}

.logo{
    display: flex;
    margin-left: 300px;
}

.i1{
    font-size: 25px;
    text-align: center;
    margin: 2px;
}

.nav-c{
    margin-left: 300px;
}

a{
    font-size: 20px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.content{
    background-color: #FCF5F5;
    padding: 30px;
    padding-bottom: 150px;
}

.flex1{
    display: flex;
}

.t1{
    color: black;
    font-size: 30px;
    margin: 20px;
    margin-left: 200px;
}

.t2{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin: 20px;
    padding: 20px;
}

#b1{
    background-color: white;
    color: #1271ED;
    border: 1px solid grey;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-left: 200px;
}

.fcolor{
    background-color: #27272F;
    display: flex;
}

#footim1{
    height: 100px;
    width: 100px;
    margin: 50px;
}

.col1{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 60px;
    font-size: 20px;
}

.col2{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 60px;
    font-size: 20px;
}

.col3{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 60px;
    font-size: 20px;
}

.col4{
    margin: 60px;
}

#footim2{
    height: 30px;
    width: 30px;
    color: white;
}

#footim3{
    height: 30px;
    width: 30px;
}

#footim4{
    height: 30px;
    width: 30px;
}

#footim5{
    height: 30px;
    width: 30px;
    color: white;
}

#footim6{
    height: 30px;
    width: 30px;
}

#footim7{
    height: 30px;
    width: 30px;
}