*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: white;
  font-family: 'popins',sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f15a29;
}

.logo {
  height: 40px;
  font-size: 35px;
  color: red;
  font-weight: bold;
  filter: brightness(100%);
}

.dropdown a {
  cursor: pointer;
}

.txt{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.txt1{
  color: red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.txt2{
  color: white;
  font-size: 35px;
  font-weight: bolder;
}

.txt3{
  color: red;
  font-size: 35px;
  font-weight: bolder;
}

.txt4{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
}

.card{
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.img1{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
  gap: 30px;
}

.img2{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
  gap: 30px;
}

.img3{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px;
  gap: 30px;
}

.txt5{
  font-size: 40px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
