*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  color: white;
  font-family: 'popins',sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f15a29;
}

.logo {
  height: 40px;
  font-size: 35px;
  color: red;
  font-weight: bold;
  filter: brightness(100%);
}

.dropdown a {
  cursor: pointer;
}

.vid {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
}

.txt1 {
  color: red;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.txt2 {
  color: white;
  font-family: 20px;
  font-family: Arial,sans-serif;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }
}
