*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: white;
    display: flex;
    position: absolute;
    color: black;
    width: 100%;
}

nav #i1{
    margin-left: 10px;
    color: #7646D1;
}

.nav-c{
    margin-left: 300px;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

a{
    color: black;
    text-decoration: none;
}

nav #i2{
    margin-left: 380px;
}

#img{
    margin-top: 50px;
    height: 500px;
    width: 100%;
}

.content{
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: rgb(50 30 90 / 1.0);
}

.ctxt1{
    color: rgb(50 30 90 / 1.0);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.ctxt2{
    color: rgb(50 30 90 / 1.0);
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.content-3{
    display: flex;
    margin: 20px;
}

#img2{
    margin-left: 20px;
    margin: 50px;
    height: 400px;
    width: 700px;
}

.content-3f{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
}

.c-3t-1{
    color: rgb(50 30 90 / 1.0);
    font-size: 30px;
    font-weight: bolder;
    margin-top: 180px;
}

.c-3t-2{
    color: rgb(50 30 90 / 1.0);
}

button#b1{
    color: white;
    background-color: #7646D1;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.fcolor{
    background-color: #7646D1;
    display: flex;
    margin-top: -50px;
}

.column1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    margin: 20px;
    margin-top: -50px;
    font-family: sans-serif;
}

.column2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    margin: 20px;
    margin-left: 700px;
    margin-top: 50px;
    font-size: 15px;
    font-family: sans-serif;
}

#fi1{
    margin-top: 50px;
    height: 120px;
    width: 100px;
    margin-bottom: 20px;
}

#fi2{
    margin-top: 50px;
    margin-left: 80px;
    height: 100px;
    width: 100px;
}