*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: white;
    display: flex;
    position: absolute;
    color: black;
}

nav #i1{
    margin-left: 10px;
    color: #7646D1;
}

.nav-c{
    margin-left: 300px;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

a{
    color: black;
    text-decoration: none;
}

nav #i2{
    margin-left: 375px;
}

.txt1{
    text-align: center;
    color: rgb(50 30 90 / 1.0);
    padding-top: 100px;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}

.f-1{
    display: flex;
    gap: 10px;
}

.f-1 #name{
    height: 30px;
    color: rgb(50 30 90 / 1.0);
    border: 1px solid rgb(50 30 90 / 1.0);
    margin-left: 350px;
    margin-top: 30px;
    width: 300px;
    padding-left: 20px;
}

.f-1 #email{
    height: 30px;
    color: rgb(50 30 90 / 1.0);
    border: 1px solid rgb(50 30 90 / 1.0);
    margin-top: 30px;
    width: 300px;
    padding-left: 20px;
}

.form #phone{
    height: 30px;
    color: rgb(50 30 90 / 1.0);
    border: 1px solid rgb(50 30 90 / 1.0);
    margin-top: 10px;
    margin-left: 350px;
    width: 630px;
    padding-left: 20px;
}

.form #comment{
    height: 300px;
    color: rgb(50 30 90 / 1.0);
    border: 1px solid rgb(50 30 90 / 1.0);
    margin-top: 10px;
    margin-left: 350px;
    width: 630px;
    padding-left: 20px;
}

.fcolor{
    margin-top: 250px;
    background-color: #7646D1;
    display: flex;
    margin-top: 50px;
}

.column1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    margin: 20px;
    margin-top: -50px;
    font-family: sans-serif;
}

.column2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    margin: 20px;
    margin-left: 700px;
    margin-top: 50px;
    font-size: 15px;
    font-family: sans-serif;
}

#fi1{
    margin-top: 50px;
    height: 120px;
    width: 100px;
    margin-bottom: 20px;
}

#fi2{
    margin-top: 50px;
    margin-left: 80px;
    height: 100px;
    width: 100px;
}