*{
    padding: 0px;
    margin: 0px;
}

nav{
    background-color: transparent;
    display: flex;
    position: absolute;
    color: white;
}

nav #i1{
    margin-left: 10px;
}

.nav-c{
    margin-left: 330px;
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

a{
    color: white;
    text-decoration: none;
}

nav #i2{
    margin-left: 350px;
}

#img{
    width: 100%;
    height: 700px;
}

.o-txt{
    background-color: #7646D1;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: -10px;
    font-size: 20px;
    font-family: sans-serif;
}

.content-1{
    padding: 30px;
    margin: 30px;
    display: flex;
}

.tc-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    font-size: 30px;   
    font-weight: bold;
    font-family: sans-serif;
    color: #a19ab3;
}

.tc-1 #c{
    color: #7646D1;
}

#img1{
    margin-left: 400px;
    height: 400px;
    width: 700px;
}

.content-2{
    display: flex;
    margin: 20px;
}

.content-2f{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
    margin-left: 70px;
}

.c-2t-1{
    color: rgb(50 30 90 / 1.0);
    font-size: 30px;
    font-weight: bolder;
    margin-left: 280px;
    margin-top: 100px;
}

.c-2t-2{
    color: rgb(50 30 90 / 1.0);
    margin-left: 50px;
}

video{
    margin-left: 20px;
    height: 400px;
    width: 700px;
}

.content-3{
    display: flex;
    margin: 20px;
}

#img2{
    margin-left: 20px;
    margin: 50px;
    height: 400px;
    width: 700px;
}

.content-3f{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
}

.c-3t-1{
    color: rgb(50 30 90 / 1.0);
    font-size: 30px;
    font-weight: bolder;
    margin-top: 180px;
}

.c-3t-2{
    color: rgb(50 30 90 / 1.0);
}

button#b1{
    color: white;
    background-color: #7646D1;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.fcolor{
    background-color: #7646D1;
    display: flex;
    margin-top: -50px;
}

.column1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    margin: 20px;
    margin-top: -50px;
    font-family: sans-serif;
}

.column2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    margin: 20px;
    margin-left: 700px;
    margin-top: 50px;
    font-size: 15px;
    font-family: sans-serif;
}

#fi1{
    margin-top: 50px;
    height: 120px;
    width: 100px;
    margin-bottom: 20px;
}

#fi2{
    margin-top: 50px;
    margin-left: 80px;
    height: 100px;
    width: 100px;
}