*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  color: black;
  font-family: 'popins',sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.displayvideo{
    padding: 0px;
    margin: 0px;
}

.overlay-text{
    position: absolute;
    bottom: 400px;
    gap: 30px;
    left: 25%;
    top: 10%;
    transform: translateX(-50%);
    padding: 30px;
    border-radius: 5px;
}

.maintext{
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.maintxt{
    font-size: 20px;
    color: white;
}

button#b1{
      height: 60px;
      width: 200px;
      color: white;
      background-color: transparent;
      padding: 20px;
      font-size: 20px;
      text-align: center;
      border: 1px solid white;
}

button#b2{
      height: 60px;
      width: 200px;
      color: white;
      background-color: transparent;
      padding: 20px;
      margin: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: 15px;
      border: 1px solid white;
}

.txt{
      font-size: 45px;
      color: black;
      margin: 20px;
      padding: 20px;
}

.imggg{
      display: flex;
      gap: 15px;
      padding: 10px;
      margin: 10px;
}

.txt1{
      margin: 10px;
      padding: 10px;
      font-size: 20px;
}

.txt2{
      margin: 10px;
      padding: 10px;
      font-size: 20px;
}

.txt3{
      margin: 10px;
      padding: 10px;
      font-size: 18px;
}

.txt4{
      margin: 10px;
      padding: 10px;
      font-size: 20px;
}

.imggg1{
      display: flex;
      padding: 20px;
      margin: 20px;
}

.card{
      padding: 20px;
}

.txt5i{
      font-size: 30px;
}

.txt5ii{
      font-size: 15px;
      padding: 7px;
      font-weight: lighter;
}


button#b3{
      position: absolute;
      bottom: -1490px;
      height: 60px;
      width: 200px;
      color: white;
      background-color: rgb(103, 103, 103);
      padding: 20px;
      margin: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: 25px;
      border: 1px solid white;
}

button#b4{
      position: absolute;
      bottom: -1490px;
      left: 300px;
      height: 60px;
      width: 200px;
      color: white;
      background-color: rgb(103, 103, 103);
      padding: 20px;
      margin: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: 25px;
      border: 1px solid white;
}

.txt6i{
      font-size: 30px;
}

.txt6ii{
      font-size: 15px;
      padding: 7px;
      font-weight: lighter;
}

button#b5{
      position: absolute;
      bottom: -1490px;
      left: 600px;
      height: 60px;
      width: 200px;
      color: white;
      background-color: rgb(103, 103, 103);
      padding: 20px;
      margin: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: 25px;
      border: 1px solid white;
}

button#b6{
      position: absolute;
      bottom: -1490px;
      left: 850px;
      height: 60px;
      width: 200px;
      color: white;
      background-color: rgb(103, 103, 103);
      padding: 20px;
      margin: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: 25px;
      border: 1px solid white;
}

.txt7i{
      font-size: 30px;
}

.txt7ii{
      font-size: 15px;
      padding: 7px;
      font-weight: lighter;
}

button#b7{
      position: absolute;
      bottom: -1490px;
      left: 1150px;
      height: 60px;
      width: 200px;
      color: white;
      background-color: rgb(103, 103, 103);
      padding: 20px;
      margin: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: 25px;
      border: 1px solid white;
}

button#b8{
      position: absolute;
      bottom: -1490px;
      left: 1400px;
      height: 60px;
      width: 200px;
      color: white;
      background-color: rgb(103, 103, 103);
      padding: 20px;
      margin: 40px;
      font-size: 20px;
      text-align: center;
      margin-left: 25px;
      border: 1px solid white;
}

.txt8{
      position: absolute;
      bottom: 30px;
      justify-content: space-between;
      padding: 15px;
      transform: translateX(50%);
      top: 2585px;
}

.txt8main{
      font-size: 40px;
      color: white;
      margin-left: -180px;
}

.txt8i{
      font-size: 15px;
      font-weight: lighter;
      padding: 10px;
      margin: 10px;
      margin-left: -180px;
      margin-bottom: 30px;
      color: white;
}

button#b9{
      position: absolute;
      margin-top: 20px;
      padding: 10px;
      bottom: -220px;
      left: -180px;
      height: 50px;
      width: 150px;
      font-size: 20px;
      color: white;
      background-color: rgb(103,103,103);
}

.IMG{
      display: flex;
}

.img5{
      margin: 20px;
      padding: 20px;
}

.img5txt{
      position: absolute;
      bottom: -2170px;
      left: 70px;
      font-size: 40px;  
      font-weight: lighter;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
}

.img5btn{
      position: absolute;
      bottom: -2670px;
      left: 325px;
}

button#b10{
      height: 50px;
      width: 150px;
      font-size: 20px;
      color: white;
      background-color: rgb(103,103,103);
}

.img6{
      margin: 20px;
      padding: 20px;
}

.img6txt{
      position: absolute;
      bottom: -2170px;
      left: 900px;
      font-size: 40px;  
      font-weight: lighter;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
}

.img6btn{
      position: absolute;
      bottom: -2670px;
      left: 1175px;
}

button#b11{
      height: 50px;
      width: 150px;
      font-size: 20px;
      color: white;
      background-color: rgb(103, 103, 103);
}

.color{
      background-color: #f4f0e8;
      padding: 10px;
}

.ct1{
      padding: 25px;
      text-align: center;
      font-size: 50px;
}

.flex-1{
      display: flex;
      padding: 20px;
      gap: 20px;
}

.card1{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt1i{
      margin: 10px;
      font-weight: bold;
}

.cardt1ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card2{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt2i{
      margin: 10px;
      font-weight: bold;
}

.cardt2ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card3{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt3i{
      margin: 10px;
      font-weight: bold;
}

.cardt3ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.flex-2{
      display: flex;
      padding: 20px;
      gap: 20px;
}

.card4{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt4i{
      margin: 10px;
      font-weight: bold;
}

.cardt4ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card5{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt5i{
      margin: 10px;
      font-weight: bold;
}

.cardt5ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card6{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt6i{
      margin: 10px;
      font-weight: bold;
}

.cardt6ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.content{
      display: flex;
      padding: 15px;
      margin: 15px;
}

.contenttxt{
      padding: 25px;
      margin-left: 15px;
      margin-top: 230px;
      font-size: 40px;
      font-family: Helvetica, Arial, sans-serif;
      display: flex;
      flex-direction: column;
}

button#b12{
      background-color: black;
      color: white;
      height: 40px;
      width: 200px;
      font-size: 15px;
      margin: 15px;
      margin-left: 70px;
}

button#b13{
      background-color: black;
      color: white;
      height: 40px;
      width: 200px;
      font-size: 15px;
}

.color1{
      background-color: #f4f0e8;
      padding: 40px;
}

.c1txt{
      color: #a36448;
      font-family: Barlow, Helvetica, Arial, sans-serif;
      font-size: 2.4rem;
      text-align: center;
}

.c1img{
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      margin-top: 60px;
      padding: 20px;
}

.flex3{
      margin-top: 70px;
      display: flex;
      gap: 20px;
      justify-content: space-around;
}

.content2txti{
      position: absolute;
      bottom: -5200px;   
      margin-left: -1150px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.content2txtii{
      position: absolute;
      bottom: -5200px;   
      margin-left: 30px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.content2txtiii{
      position: absolute;
      bottom: -5200px;   
      margin-left: 1130px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.flex4{
      margin-top: 70px;
      display: flex;
      gap: 20px;
      justify-content: space-around;
}

.content2txtiv{
      position: absolute;
      bottom: -5950px;   
      margin-left: -1150px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.content2txtv{
      position: absolute;
      bottom: -5950px;   
      margin-left: 30px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.content2txtvi{
      position: absolute;
      bottom: -5950px;   
      margin-left: 1130px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.flex5{
      margin-top: 70px;
      display: flex;
      gap: 20px;
      justify-content: space-around;
}

.content2txtvii{
      position: absolute;
      bottom: -6730px;   
      margin-left: -1150px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.content2txtviii{
      position: absolute;
      bottom: -6730px;   
      margin-left: 30px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.content2txtix{
      position: absolute;
      bottom: -6730px;   
      margin-left: 1130px;
      color: white;
      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif;
}

.flex6{
      margin-top: 70px;
      display: flex;
      gap: 20px;
      justify-content: space-around;
}

.footer{
      background-color: #F7F3EF;
      padding-bottom: 20px;
      margin-top: 50px;
}

.col{
      padding: 20px;
      margin-top: 40px;
      background-color: #374151;
      color: white;
      font-size: 20px;
      display: flex;
      justify-content: space-around;
}

.col1{
      padding: 30px;
}

.col1t1{
      font-size: 20px;
      font-weight: bold;
}

.col1t2{
      font-size: 15px;
      font-weight: lighter;
      margin-top: 30px;
}

#colem{
      margin-top: 20px;
      padding: 8px;
}

.su{
      display: flex;
      flex-direction: row;
      gap: 15px;
}

button#b14{
      margin-top: 20px;
      color: white;
      background-color: black;
      padding: 8px;
      font-size: 20px;
      height: 40px;
      width: 200px;
}

.col2{
      margin-top: -210px;
      margin-left: 600px;
}

.col2heading{
      font-size: 20px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col2txt{
      margin-top: 10px;
      font-size: 15px;
      color: grey;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col3{
      margin-top: -140px;
      margin-left: 1100px;
}

.col3heading{
      font-size: 20px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col3txt{
      margin-top: 10px;
      font-size: 15px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col4{
      margin-top: -140px;
      margin-left: 1500px;
}

.col4heading{
      font-size: 20px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col4txt{
      margin-top: 10px;
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey
}