*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  color: black;
  font-family: 'popins',sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  object-fit: cover;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 15px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.overlay-text {
  position: absolute;
  top: 50px;
  color: white;
  gap: 20px;
  left: 20%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
}

.text{
  color: #644337;
  font-size: 128px;
  padding: 30px;
  margin: 30px;
  font-family: Barlow,Helvetica,Arial,Serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

.txt{
  color: #644337;
  font-size: 18px;
  margin: 15px;
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.images{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  margin: 30px;
}

.txt1{
  color: black;
  font-size: 35px;
  margin: 25px;
  padding: 15px;
  gap: 25px;
}

.img1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
  gap: 20px;
}

.txt3{
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 70px;
}

.img2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.color{
      background-color: #f4f0e8;
      padding: 10px;
}

.ct1{
      padding: 25px;
      text-align: center;
      font-size: 50px;
}

.flex-1{
      display: flex;
      padding: 20px;
      gap: 20px;
}

.card1{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt1i{
      margin: 10px;
      font-weight: bold;
}

.cardt1ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card2{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt2i{
      margin: 10px;
      font-weight: bold;
}

.cardt2ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card3{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt3i{
      margin: 10px;
      font-weight: bold;
}

.cardt3ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.flex-2{
      display: flex;
      padding: 20px;
      gap: 20px;
}

.card4{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt4i{
      margin: 10px;
      font-weight: bold;
}

.cardt4ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card5{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt5i{
      margin: 10px;
      font-weight: bold;
}

.cardt5ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.card6{
      background-color: white;
      display: flex;
      padding: 10px;
      width: fit-content;
}

.cardt6i{
      margin: 10px;
      font-weight: bold;
}

.cardt6ii{
      font-weight: lighter;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-right: 10px;
}

.footer{
      background-color: #F7F3EF;
      padding-bottom: 20px;
      margin-top: 50px;
}

.col{
      padding: 20px;
      margin-top: 40px;
      background-color: #374151;
      color: white;
      font-size: 20px;
      display: flex;
      justify-content: space-around;
}

.col1{
      padding: 30px;
}

.col1t1{
      font-size: 20px;
      font-weight: bold;
}

.col1t2{
      font-size: 15px;
      font-weight: lighter;
      margin-top: 30px;
}

#colem{
      margin-top: 20px;
      padding: 8px;
}

.su{
      display: flex;
      flex-direction: row;
      gap: 15px;
}

button#b14{
      margin-top: 20px;
      color: white;
      background-color: black;
      padding: 8px;
      font-size: 20px;
      height: 40px;
      width: 200px;
}

.col2{
      margin-top: -210px;
      margin-left: 600px;
}

.col2heading{
      font-size: 20px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col2txt{
      margin-top: 10px;
      font-size: 15px;
      color: grey;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col3{
      margin-top: -140px;
      margin-left: 1100px;
}

.col3heading{
      font-size: 20px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col3txt{
      margin-top: 10px;
      font-size: 15px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col4{
      margin-top: -140px;
      margin-left: 1500px;
}

.col4heading{
      font-size: 20px;
      font-weight: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey;
}

.col4txt{
      margin-top: 10px;
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: grey
}