*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100%;
}

header{
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: -10px;
    color: white;
    width: 100%;
    background-color: rgba(12 119 191 / 1.0);
}

.img{
    color: white;
    justify-content: space-around;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    margin: 8px;
}

.t1{
    font-size: 60px;
    text-align: center;
    margin: 50px;
    padding: 50px;
}

.t2{
    font-size: 25px;
    font-weight: lighter;
    display: flex;
    gap: 30px;
    margin: 10px;
}

.flex{
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    margin-left: -10px;
}

.card{
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px;
}

.ct1{
    font-size: 15px;
    font-weight: lighter;
}

.fcolor{
    background-color: rgba(12 119 191 / 1.0);
    padding: 50px;
    margin: 0px;
    display: flex;
}

.f1{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
    margin: 20px;
    padding: 20px;
}

.f2{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
    margin: 20px;
    padding: 20px;
}

.f3{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 150px;
    margin: 20px;
    padding: 20px;
}

.f4{
    display: flex;
    flex-direction: column;
    margin-left: 1030px;
    margin: 20px;
    padding: 20px;
}

#f4i{
    height: 30px;
    width: 250px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    margin-left: 0px;
}

button#b1{
    background-color: black;
    color: white;
    font-size: 25px;
    height: 40px;
    width: 200px;
}