*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100%;
}

header{
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: -10px;
    color: white;
    width: 100%;
    background-color: rgba(12 119 191 / 1.0);
}

.img{
    color: white;
    justify-content: space-around;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    margin: 8px;
}

.txt{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

.txti{
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

form{
    display: grid;
    place-items: center;
}

form #fn{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    padding: 15px;
    margin-top: 50px;
    margin: -10px;
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

form #ln{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    padding: 15px;
    margin-top: 50px;
    margin: -10px;
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

form #em{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    padding: 15px;
    margin-top: 50px;
    margin: -10px;
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

form #ad{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    width: 400px;
    height: 120px;
    text-align: 10px;
    padding-left: 10px;
    padding-bottom: 55px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

form #city{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    padding: 15px;
    margin-top: 50px;
    margin: -10px;
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

form #state{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    padding: 15px;
    margin-top: 50px;
    margin: -10px;
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

form #pin{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    padding: 15px;
    margin-top: 50px;
    margin: -10px;
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

form #pn{
    font-size: 18px;
    font-weight: lighter;
    color: lightgray;
    padding: 15px;
    margin-top: 50px;
    margin: -10px;
    width: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

button#bu{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
}

.text{
    text-align: center;
    font-size: 11px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fcolor{
    background-color: rgba(12 119 191 / 1.0);
    padding: 50px;
    margin: 0px;
    display: flex;
}

.f1{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
    margin: 20px;
    padding: 20px;
}

.f2{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
    margin: 20px;
    padding: 20px;
}

.f3{
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 150px;
    margin: 20px;
    padding: 20px;
}

.f4{
    display: flex;
    flex-direction: column;
    margin-left: 1030px;
    margin: 20px;
    padding: 20px;
}

#f4i{
    height: 30px;
    width: 250px;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    margin-left: 0px;
}

button#b1{
    background-color: black;
    color: white;
    font-size: 25px;
    height: 40px;
    width: 200px;
}